/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
 

/* The grid container */
.grid {
  margin: auto;
  width: 70%;
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas: 
    'items name'
    'items payment' 
    'summary summary'
}

.grid__summary {
  grid-area: summary;
  
}


.card__details {
  font-size: small;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  padding: 6px;
  background-color: burlywood;

}

.footer {
  background-color: burlywood;
  text-align: center;
  margin-top: 20px;
}

h4 {
  color: burlywood;
  margin-bottom: 20px;
  font-weight: 200;
}

.card {
  background-color: beige; 
  border-radius: 10px;
  padding: 50px;
  filter: (30px 10px 4px #000000);
}

.grid__items {
  grid-area: items;
  display: flex;
  flex-direction: column;

 
}

.hr {
  background-color: burlywood;
  height: 1px;
  width: auto;
}

.grid__name {
  grid-area: name;
}

.grid__payment {
  grid-area: payment;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid  {
    grid-template-areas: 
    'items items'
    'name name'
    'payment payment'
    'summary summary' 

  }
}


.items__card  {
  display: flex;
  padding: 10px;
}

.items__card > .card-1 {
  flex-grow: 3;
}

.items__card > .card-2 {
  flex-grow: 25;
}

.items__card > .card-3 {
  flex-grow: 1;
}

input {
  border-radius: 20px;
  width: 100%;
  padding: 6px;
  margin: 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 2px solid burlywood;
  background-color: beige;
}

.field__span {
  position: relative;
  top: 15px;
  left: 50px;
  background-color: beige;
  padding: 5px;
}

.grid__summary {

}

button {
  width: 100%;
  border-radius: 10px;
  outline: none;
}